VITE_API_URL=http://localhost:5000/api
VITE_CLERK_PUBLISHABLE_KEY=pk_test_Y29tcG9zZWQtc3dpZnQtNTMuY2xlcmsuYWNjb3VudHMuZGV2JA
CLERK_SECRET_KEY=sk_test_ehIoH8vnh6vH6zzP8Xg41Wn0DjrohCTmHxUMAeeefg

# EmailJS Configuration
VITE_EMAILJS_PUBLIC_KEY=MKJznxBdfyTE6MAIF
VITE_EMAILJS_SERVICE_ID=service_54s5o1h
VITE_EMAILJS_TEMPLATE_ID=template_h257j9g
VITE_SUPABASE_URL="https://ycwugiqtzpteziftbebi.supabase.co"
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inljd3VnaXF0enB0ZXppZnRiZWJpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODYwMTY1MzUsImV4cCI6MjEwMTU5MjUzNX0.vnQKnY3pkeetoWr2DcH4uKniRvkZWOR7-eMXrrfnMPc"